*{
    margin: 0;
    padding: 0;
}

.detaails {
    width:  1280px;
    height: 900px;
    padding: 30px;
   
   background: url('../../image/countries.png') center center no-repeat;
   background-size: 100% auto;

   font-family: 'Indie Flower', cursive;
   color: white;

   
}

.contDt {
    width: 900px;
    padding: 50px;

    background-color: rgba(17, 17, 5, 0.836);
    border: solid 4px  rgba(255, 174, 0, 0.582) ;
    border-radius: 10px;

    margin-left: 150px;
}

.contDt h2 {
    font-family: 'Balsamiq Sans', cursive;
    margin: 25px;
    color: rgb(243, 243, 215);
}
p {
    font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(236, 250, 44, 0.938);
    font-display: justify;
}
.detaails img{
    height: 300px;
    border-radius: 15px;
    border: solid 3px rgba(202, 147, 29, 0.774);
}

.art {
    margin: 15px;
    font-display: justify;
}

.contDt button {
    background-color: rgba(250, 250, 81, 0.623);
    border: solid 3px rgb(255, 174, 0);
    border-radius: 5px;
    height: 60px;
    width: 100px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.contDt button:hover {
    background-color: rgba(0, 0, 0, 0.678);
    color: yellow;
    font-weight: bold;
}