*{
    margin: 0;
    padding: 0;
  }
  
  .wpLanding{
    width:  100%;
    height: 655px;
   
   background: url('../../image/globo-terraqueo-e1583703184845.jpg') center center no-repeat;
   background-size: 100% auto;
  }
  
  .wpLanding .btb button{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
  } 
  
  .text{
    margin: 80px;    
    color: rgb(232, 255, 28);    
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.781);
   
    -webkit-transform: rotate(-8deg); 
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    transform: rotate(-8deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
  
  .text p{
    font-family: 'Indie Flower', cursive;
    /* text-shadow: 5px 5px 10px rgb(81, 122, 81); */
    font-size: 40px;
    margin: 0 30% 0 30%;
    
  }
  .text p:hover{
    font-size: 70px;
    margin: 0 10% 0 10%;
  }
  
  .text h1{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 100px;
  }
  .text h1:hover{
    font-size: 130px;
  }
  .text h2{
    margin: 40px;
  }